* {
    font-family: monospace;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
header {
    background-color: #000000;
    color: #a1a1a1;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure header is a positioned container */
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu ul li {
    display: inline;
    margin-right: 90px;
}
.menu ul li a {
    text-decoration: none;
    color: #94BFFF;
    font-weight: bold;
    font-size: 34px;
}
.menu ul li a:hover {
    color: #7a9bf7;
}
@media screen and (max-width: 920px) {
    .menu ul li {
        margin-right: 10px; /* Adjusted margin for smaller screens */
    }
    .menu ul li a {
        font-size: 26px
    }
}

.container {
    display: flex;
    height: 100vh; /* Set container height to full viewport height */
}
.content {
    flex: 1;
    padding: 20px;
    max-height: calc(100vh - 40px); /* Subtract header and footer height from viewport height */
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow content of image container */
}

.image-container img {
    max-width: 100%;
    height: auto;
}
h1 {
    margin-top: 250px;
    text-align: center; /* Center the text horizontally */
    margin-left: 5%; /* Adjusts the left margin to center the content on the left half */
    font-size: 60px; /* Adjust the font size as needed */
    color: #a1a1a1;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s infinite;
}
h2 {
    margin-top: 0px;
    text-align: center; /* Center the text horizontally */
    margin-left: 15%; /* Adjusts the left margin to center the content on the left half */
    font-size: 30px;
    color: #c2c2c2;
}
p {
    margin-left: 32.5%;
    line-height: 1.6;
    text-align: left;
    font-size: 20px;
    color: #a1a1a1;
}
#experience .content ul li {
    color: #a1a1a1; /* Change "yourDesiredColor" to the color you want */
}
form {
    margin-top: 20px;
}
button {
    background-color: #94BFFF;
    color: #363636;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 42%;
    margin-top: 5%
}
#contact-button a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}
button:hover {
    background-color: #7a9bf7;
}


/* Add this style to position the content on top of the image */
/*
#experience {
    position: relative;
}

#experience .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
*/
 /* Add any additional styling as needed */
#experience .content h1 {
    text-align: left;
    margin-left: 2%;
    margin-top: 0%;
}
#experience .content h2 {
    text-align: left;
    margin-left: 10%;
    margin-top: 0%;
}
#experience .content p {
    text-align: left;
    margin-left: 5%;
    margin-top: 0%;
    font-size: 20px;
}
#experience .content .mw2 {
    display: flex;
    align-items: center;
}
#experience .content .mw2 img {
    margin-top: 5%;
    margin-right: 5%;
    max-width: 25%;
}
#experience .content .bhs {
    display: flex;
    align-items: center;
}
#experience .content .bhs img {
    margin-top: 0%;
    margin-right: 5%;
    max-width: 25%;
}